@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variable";
@import "primevue";

body {
  @include style-text;
  @include style-bg;
}

h1 {
  @include style-text;
  @apply text-dark text-4xl;
}

.content {
  @apply px-2 sm:px-4 md:px-10 lg:container lg:px-0;
}

.row {
  @apply grid grid-cols-12 gap-4;
}

hr {
  @apply border-fourth my-10;
  border-top-width: 10px;
  width: 35%;
}

/* Modal */
.modal {
  @include style-bg;
  @apply rounded border border-secondary p-4;
  z-index: 999;
}
