@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variable";
@import "primevue";

body {
  @include style-text;
  @include style-bg;
}

h1 {
  @include style-text;
  @apply text-4xl;
}
h2 {
  @include style-text;
  @apply text-3xl pb-4;
}
p {
  @apply text-xl pb-2;
}
section {
  @apply py-10;
}
.content {
  @apply px-2 sm:px-4 md:px-10 lg:container 2xl:px-0;
}

.row {
  @apply grid grid-cols-12 gap-4;
}

hr {
  @apply border-fourth my-10;
  border-top-width: 10px;
  width: 35%;

  &.small {
    margin: 0.8rem auto 1.4rem;
    width: 10%;
    border-top-width: 5px;
  }
}
.section-smoke {
  @apply bg-smoke dark:bg-smoke/10;
}

/* Modal */
.modal {
  @include style-bg;
  @apply rounded border border-secondary p-4 border-gray-400 dark:border-smoke/40;
  z-index: 999;
}
